{erl_opts, [
    warnings_as_errors
]}.

{shell, [erlazure]}.

{project_plugins, [
    erlfmt
]}.

{erlfmt, [write]}.

{deps, [
    {njson, {git, "git@github.com:nomasystems/njson.git", {tag, "2.0.0"}}}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        dialyzer,
        xref
    ]},
    {test, [
        {eunit,
            " suites=erlazure_xml_tests,erlazure_utils_tests,erlazure_queue_tests,erlazure_blob_tests"},
        {cover, "-m 95"}
    ]}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [erlazure]}.
