{erl_opts, [
    %    warnings_as_errors,
    {src_dirs, ["src"]},
    {i, "include"}
]}.

{shell, [erlazure]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}}
]}.

{erlfmt, [write]}.

{deps, [
    {njson, {git, "git@github.com:nomasystems/njson.git", {branch, "main"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "main"}}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        dialyzer,
        xref
    ]},
    {test, [
        {eunit,
            " suites=erlazure_xml_tests,erlazure_utils_tests,erlazure_queue_tests,erlazure_blob_tests"},
        {cover, "-m 95"}
    ]}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [erlazure]}.
